<div class="wrapper text-center text">
  <ui-carousel [infinite]="true" [fade]="true" [speed]="1000" [autoPlay]="true" [autoPlaySpeed]="5000">
    <ui-carousel-item>
      <p>"Мы выбираем не случайно друг друга... Мы встречаем только тех, кто уже существует в нашем подсознании."</p>
    </ui-carousel-item>
    <ui-carousel-item>
      <p>"Всё, что вы делаете в постели, - прекрасно и абсолютно правильно. Лишь бы это нравилось обоим. Если есть эта
        гармония - то вы и только вы правы, а все осуждающие вас - извращенцы."</p>
    </ui-carousel-item>
    <ui-carousel-item>
      <p>"Чем более странным нам кажется сон, тем более глубокий смысл он несет."</p>
    </ui-carousel-item>
    <ui-carousel-item>
      <p>"В основе всех наших поступков лежат два мотива: желание стать великим и сексуальное влечение.</p>
    </ui-carousel-item>
    <ui-carousel-item>
      <p>"Мы никогда не бываем столь беззащитны, как тогда, когда любим и никогда так безнадежно несчастны, как тогда,
        когда теряем объект любви или его любовь."</p>
    </ui-carousel-item>
    <ui-carousel-item>
      <p>"Ограниченность удовольствия только увеличивает его ценность."</p>
    </ui-carousel-item>
    <ui-carousel-item>
      <p>"Ничего не бывает случайного, все имеет первопричину."</p>
    </ui-carousel-item>
    <ui-carousel-item>
      <p>"Каждый нормальный человек на самом деле нормален лишь отчасти."</p>
    </ui-carousel-item>
    <ui-carousel-item>
      <p>"Детство, лишенное чувство стыда, кажется нам впоследствии своего рода раем, а ведь этот самый рай не что иное,
        как массовой фантазия о детстве человека."</p>
    </ui-carousel-item>
  </ui-carousel>
</div>
