<div class="container">
  <div class="card-columns p-5">
    <div class="card" style="max-width: 12rem;">
      <img class="card-img-top" src="assets/photos/1freid.jpg" alt="Зигмунд Фрейд">
      <p class="card-body">Зигмунд Фрейд - австрийский ученый, психиатр, невролог, основатель психоаналитического течения в
        психологии.</p>
    </div>
    <div class="card" style="max-width: 12rem;">
      <img class="card-img-top" src="assets/photos/2Yung.jpg" alt="Юнг">
      <p class="card-body">Карл Густав Юнг – основоположник одного из течений психоаналитической теории, швейцарский философ и
        психиатр.</p>
    </div>
    <div class="card" style="max-width: 12rem;">
      <img class="card-img-top" src="assets/photos/3Masloy.jpg" alt="Маслоу">
      <!--<p class="card-body">Абрахам Маслоу – американский психолог, философ, основоположник гуманистического направления в психологии,-->
        <!--автор теории самоактуализации и известнейшей "пирамиды потребностей"</p>-->
    </div>
    <div class="card" style="max-width: 12rem;">
      <img class="card-img-top" src="assets/photos/4Kandinskiy.jpg" alt="Кандинский">
      <p class="card-body">Кандинский Виктор Хрисанфович – русский психопатолог, один из основоположников и основателей психиатрии в
        России, автор ряда психопатологических феноменов и методов лечения душевных недугов.</p>
    </div>
    <div class="card" style="max-width: 12rem;">
      <img class="card-img-top" src="assets/photos/5Korsakov.jpg" alt="Корсаков">
      <p class="card-body">Сергей Сергеевич Корсаков – знаменитый и выдающийся русский ученый, психиатр, один из основоположников
        московской экспериментальной психологической лаборатории и нозологического направления в психиатрической
        науке.</p>
    </div>
    <div class="card" style="max-width: 12rem;">
      <img class="card-img-top" src="assets/photos/6Leongard.jpg" alt="Леонгард">
      <p class="card-body">Карл Леонгард – немецкий психиатр, психолог и невролог. Автор типологии акцентуированных личностей, ввел
        понятие акцентуации как крайнего варианта нормы.</p>
    </div>
    <div class="card" style="max-width: 12rem;">
      <img class="card-img-top" src="assets/photos/7Karnegi.jpg" alt="Карнеги">
      <p class="card-body">Дейл Карнеги – известный американский психолог, педагог. Автор бестселлера «Как завоевывать друзей и оказывать
        влияние на них», а также многих других практических работ по психологии.</p>
    </div>
    <div class="card" style="max-width: 12rem;">
      <img class="card-img-top" src="assets/photos/8Lombrozo.jpg" alt="Ломброзо">
      <p class="card-body">Чезаре Ломброзо – итальянский психиатр, основатель антропологического направления в уголовном праве и
        криминалистике.</p>
    </div>
  </div>
</div>
